
.input{
    height:542px;
    overflow:scroll;
    padding:0px;
    display: inline-block;
}

.line-number{
    width:auto;
    text-align: center;
    height:542px;
    overflow:hidden;
}

.representation{
    height:542px;
    width : 49%;
    overflow:scroll;
    padding:0;
    display: inline-block;
}


.line-number span {
    display: block;
}

[contenteditable] {
  outline: 0px solid transparent;
}

.container-font > * {
    padding: 0px  !important;
    font-family: "Sans Mono", "Consolas", "Courier", monospace;
    font-size: 16px;
}



