{% load xsl_transform_tag %}
{% load blob_tags %}
{% load tz %}

<b>Created on: </b> {{data.blob.creation_date|localtime}} <br/>
<b>Author:</b> {{ data.blob.owner_name}} <br/>
<b>Metadata: </b><br/>


{% for metadata in data.blob|blob_metadata:request.user %}
    <a class="blob-link"
   href={% if come_from_admin %}  "{% url 'core-admin:core_main_app_data_detail'%}?id={{metadata.id}}"
        {% else %} "{% url 'core_main_app_data_detail'%}?id={{metadata.id}}"{% endif %}>
    {{ metadata.title }} - {{ metadata.template.display_name }}
    </a><br/>
{% empty%}
<p><b>Metadata: </b> No metadata files attached, or user not authorized to see them.</p>
{% endfor %}
<div id="blob_id" class="hidden">{{data.blob.id}}</div>