celery==4.1.1
# FIXME: upgrade celery and remove kombu
kombu==4.3.0
Django==2.2.13
django-mongoengine==0.3.3
django-password-policies==0.4.2
drf-yasg==1.17.0
django-rest-framework-mongoengine==3.4.0
django-rest-swagger==2.1.2
django-tz-detect==0.2.9
django-simple-menu==1.2.1
djangorestframework==3.9.1
markdown==2.6.9
mock==2.0.0
mongoengine==0.18.2
mongomock==3.18.0
pymongo==3.5.1
python-dateutil==2.6.1
redis==2.10.6
requests==2.20.0
xmltodict==0.11.0
future==0.17.1
django-defender==0.6.2
