Django==1.8.14
django-password-policies==0.4.1
mongoengine==0.10.6
celery==4.0.1
redis==2.10.5
xmltodict==0.10.2
lxml==3.6.4
mock==2.0.0
xml-utils==1.0.0-alpha4
blob_utils==1.0.0-beta2
djangorestframework==3.5.3
django-rest-framework-mongoengine==3.3.1
mongomock==3.7.0
python-dateutil==2.6.0
