celery==4.1.1
# FIXME: upgrade celery and remove kombu
kombu==4.3.0
Django==1.11.20
# Installs: django-mongoengine==0.2.1
https://github.com/MongoEngine/django-mongoengine/tarball/v0.2.1#egg=django-mongoengine-0.2.1
django-mongoengine-forms==0.4.5
django-password-policies==0.4.2
django-rest-framework-mongoengine==3.3.1
django-rest-swagger==2.1.2
django-tz-detect==0.2.9
django-simple-menu==1.2.1
djangorestframework==3.9.1
markdown==2.6.9
mock==2.0.0
mongoengine==0.11.0
mongomock==3.8.0
pymongo==3.5.1
python-dateutil==2.6.1
redis==2.10.6
requests==2.20.0
xmltodict==0.11.0
