{% block modal_id %}delete-xslt-modal{% endblock %}
{% block modal_title %}Delete XSLT <i class="delete-xslt-name"></i>{% endblock %}

{% block modal_body %}
<input id="delete-xslt-id" type="hidden" value=""/>
<p>
    The XSLT will be erased definitely.
</p>
<p>Are you sure you want to delete this XSLT?</p>
{% endblock %}

{% block modal_footer %}
<button class="btn btn-secondary pull-left" {% if BOOTSTRAP_VERSION|first == "4" %}data-dismiss{% elif BOOTSTRAP_VERSION|first == "5"  %}data-bs-dismiss{% endif %}="modal">
    <i class="fas fa-times"></i> No
</button>
<button id="delete-xslt-yes" class="btn btn-danger"><i class="fas fa-check"></i> Yes</button>
{% endblock %}