.empty {
    text-align: center;
    font-style: italic;
    color: gray;
}

.btn.btn-secondary {
    background-color: #f9f9f9 !important;
    border-color: #949494 !important;
    color: black !important;
}

form>input {
    margin-bottom: 0.5em;
}

input[type=file] {
    border: solid 1px #f1f1f1;
    border-radius: 2px;
    display: block;
}