.empty {
    text-align: center;
    font-style: italic;
    color: gray;
}

.btn.btn-secondary {
    background-color: #f9f9f9 !important;
    border-color: #949494 !important;
    color: black !important;
}