{% block modal_id %}edit-template-modal{% endblock %}
{% block modal_title %}Edit {{ data.object_name }}{% endblock %}

{% block modal_body %}
<form id="edit-template-form">
    <input id="edit-template-id" type="hidden" value=""/>
    <div class="form-group">
        <label for="edit-template-name">Enter new {{ data.object_name }} name</label>
        <input id="edit-template-name" class="form-control" type="text" value="" placeholder="new_template_name"/>
    </div>
</form>
{% endblock %}

{% block modal_footer %}
<a class="btn btn-secondary pull-left" {% if BOOTSTRAP_VERSION|first == "4" %}data-dismiss{% elif BOOTSTRAP_VERSION|first == "5"  %}data-bs-dismiss{% endif %}="modal" href="#">
    <i class="fas fa-times"></i> Close
</a>
<a id="edit-template-save" class="btn btn-primary" href="#"><i class="fas fa-save"></i> Save</a>
{% endblock %}