<!-- FIXME: base-->
<!-- FIXME: menus-->
{% load staticfiles %}

<h1>Template Manager</h1>


<div class="right-side">
<span class="ctx_menu">
    <a href="{% url 'admin:core_main_app_upload_template'%}">
        <div class="icon legend long upload">Upload Template</div>
    </a>
</span>
</div>      

{% if objects %}

<table class="data-table">
    <tr>
        <th>Template</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    {% for object in data.objects %}
        {% cycle 'even' '' as rowcolors silent %}
        <tr class="{{ rowcolors }}">
            <td>{{ object.title }}</td>
            {% if object.is_disabled %}
                <td><span style="color:red;">Disabled</span></td>
                <td>
                    <span class="icon legend retrieve" objectid="{{ object.id }}">
                        <a href="#"> Restore </a>
                    </span>
                </td>
            {% else %}
                <td><span style="color:green;">Registered</span></td>
                <td>
                    <span class="icon legend version">
                        <a href="{% url 'admin:core_main_app_manage_template_versions' object.id %}">Versions</a>
                    </span>
                    <span class="icon legend edit" objectid="{{ object.id }}">
                        <a href="#"> Edit </a>
                    </span>
                    <span class="icon legend delete" objectid="{{ object.id }}">
                        <a href="#"> Disable </a>
                    </span>
                    <span class="icon legend modules">
                        <a href="#"> Modules </a>
                    </span>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
</table>

{% else %}
<div class="empty-table">
    There are currently no Template uploaded. Please click "Upload Template" to the right to add a new one.
</div>
{% endif %}

<div id="dialog-edit-info" title="Edit Details" style="display:none;">
<p>
    <b>XML Schema name:</b> <input type="text" id="edit-name"/><br/>
</p>
</div>

<div id="dialog-disable-confirm-message" title="Confirm Delete" style="display:none;">
<p></p>
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 10px 0;"></span>
    Are you sure you want to disable this Template?
  </p>
</div>

