{% block box_title %}Template XSLT Rendering{% endblock %}

{% block box_tools %}

{% include 'core_main_app/common/buttons/go_to.html' with url=data.url_back_to label='Back to Versions' %}

{% endblock %}

{% block box_body %}
<div id="error-div" style="display: none;">
    <div class="alert alert-danger alert-dismissable">
        <a href="#" {% if BOOTSTRAP_VERSION == "4.6.2" %}
                class="close" data-dismiss="alert"
            {% elif BOOTSTRAP_VERSION == "5.1.3"%}
                class="btn-close" data-bs-dismiss="alert"
            {% endif %}
        aria-label="close">&times;</a>
        <strong>{{ data.errors }}</strong>
    </div>
</div>

<form id="form_start" method="post">
    {% csrf_token %}
    {{ data.form_template_xsl_rendering }}

    <br/>
    <button class="btn btn-secondary pull-left">
        <i class="fas fa-times"></i> Cancel
    </button>
    <button type="submit" class="btn btn-primary {% if BOOTSTRAP_VERSION == "4.6.2" %}float-right{% elif BOOTSTRAP_VERSION == "5.1.3" %}float-end{% endif %}">
      <i class="fas fa-save"></i> Save
    </button>
</form>
{% endblock %}