{% extends 'core_main_app/_render/admin/theme/tools/modal.html' %}

{% block modal_id %}switch-rights-modal{% endblock %}
{% block modal_title %}Problem while updating the new permission.{% endblock %}


{% block modal_body %}
<div class="alert alert-danger" id="switch_rights_banner_errors" style="display: none;">
        <a href="#" class="{% if BOOTSTRAP_VERSION|first == "4" %}close{% elif BOOTSTRAP_VERSION|first == "5"  %}btn-close{% endif %}" data-hide="alert" aria-label="close">{% if BOOTSTRAP_VERSION|first == "4" %}&times;{% elif BOOTSTRAP_VERSION|first == "5"  %}{% endif %}</a>
     	<h4><i class="fas fa-exclamation-circle"></i> Error</h4>
        <div id="switch_rights_errors"></div>
</div>
{% endblock %}

{% block modal_footer %}
<a class="btn btn-secondary pull-left" {% if BOOTSTRAP_VERSION|first == "4" %}data-dismiss{% elif BOOTSTRAP_VERSION|first == "5"  %}data-bs-dismiss{% endif %}="modal" href="#">
    <i class="fas fa-times"></i> Ok
</a>
{% endblock %}