<div>
    <button id="btn-previous-page" type="button" class="btn btn-secondary mb-2 float-{% if BOOTSTRAP_VERSION|first == "4" %}right{% elif BOOTSTRAP_VERSION|first == "5"  %}end{% endif %}">
        <i class="fas fa-arrow-left"></i> Back to previous
    </button>
    {% if data.display_download_options %}
    <button class="btn btn-secondary download
        {% if BOOTSTRAP_VERSION|first == "4" %}float-right{% elif BOOTSTRAP_VERSION|first == "5"  %}float-end{% endif %}
        {% if BOOTSTRAP_VERSION|first == "4" %}mr-1{% elif BOOTSTRAP_VERSION|first == "5"  %}me-1{% endif %}">
        <i class="fas fa-download"></i> Download
    </button>
    {% endif %}
    {% if data.share_pid_button %}
        {% include 'core_linked_records_app/user/sharing/data_detail/button.html' %}
    {% endif %}
    {% if 'core_tsne_app' in INSTALLED_APPS %}
        <a style="margin-top: 1em;" class="btn btn-primary {% if BOOTSTRAP_VERSION|first == "4" %}float-right{% elif BOOTSTRAP_VERSION|first == "5"  %}float-end{% endif %}"
           href="{% url 'core_tsne_app_data' data.data.id %}">
            view on t-sne map
        </a>
    {% endif %}

        <div class="row
                {% if BOOTSTRAP_VERSION|first == "4" %}float-right{% elif BOOTSTRAP_VERSION|first == "5"  %}float-end{% endif %}
                {% if BOOTSTRAP_VERSION|first == "4" %}mr-1{% elif BOOTSTRAP_VERSION|first == "5"  %}me-1{% endif %}"
                {% if not can_display_selector %} style="display:none" {% endif %} >
            <div class="form-group ">
                <select class="selectpicker {% if BOOTSTRAP_VERSION|first == "4" %}form-control{% elif BOOTSTRAP_VERSION|first == "5"  %}form-select{% endif %}" id="xslt-selector" >
                   {% if not template_xsl_rendering.default_detail_xslt %}  <option value={{None}}>Default</option>{% endif %}
                   {% for xslt in template_xsl_rendering.list_detail_xslt.all %}
                        {% if xslt.id == xslt_id %}
                            <option value="{{xslt.id}}" selected >{{xslt.name}} {% if xslt == template_xsl_rendering.default_detail_xslt %} (default) {% endif %}</option>
                        {% else %}
                            <option value="{{xslt.id}}" >{{xslt.name}} {% if xslt == template_xsl_rendering.default_detail_xslt %} (default) {% endif %}</option>
                        {% endif %}
                   {% endfor %}
                </select>
            </div>
        </div>

</div>
