{% extends 'core_main_app/_render/admin/theme/tools/box.html' %}

{% block box_title %}
<span>Edit access to workspace: {{data.workspace.title}}</span>
{% endblock %}

{% block box_tools %}
{% if not data.is_public %}
    <a class="btn btn-secondary add-user-btn">
        <i class="fas fa-file-alt"></i> Add users
    </a>
    <a class="btn btn-secondary add-group-btn">
        <i class="fas fa-file-alt"></i> Add groups
    </a>
{% endif %}
<a href="#" class="btn btn-secondary back-to-previous">
         <i class="fas fa-arrow-left"></i> Previous page
</a>
{% endblock %}

{% block box_body %}
<br/>
    <!--FIXME: put back the tab -->
    <h4>Users:</h4>
    {% if data.user_data %}
        {% include data.template with objects=data.user_data group="user" %}
    {% else %}
    <div class="empty-table">
        No users have access to '{{ data.workspace.title }}'.
    </div>
    {% endif %}
<br/>
    <h4>Groups:</h4>
    {% if data.group_data %}
        {% include data.template with objects=data.group_data group="group" %}
    {%else%}
      <div class="empty-table">
        No groups have access to '{{ data.workspace.title }}'.
      </div>
    {% endif %}
{% endblock %}