<!-- FIXME: base-->
<!-- FIXME: menus-->
{% extends "core_main_app/_render/admin/theme/tools/section.html" %}
{% load staticfiles %}

{% block section_title %}Template Manager{% endblock %}
{% block section_subtitle %}Optional description{% endblock %}

{% block section_content %}
    <div class="row">
        <div class="col-md-12">
            {% include 'core_main_app/admin/templates/list/available.html' %}
            {% include 'core_main_app/admin/templates/list/disabled.html' %}
        </div>
    </div>
{% endblock %}